/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../usr/local/lib/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../../../../usr/local/lib/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/TicketPage.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TicketPage_ticketSection__auOsS img {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}
.TicketPage_ticketSectionContainer__xT4xw {
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  width: 270px;
  animation: TicketPage_ticketReveal__UaHqX 0.5s forwards ease-in-out;
}
@keyframes TicketPage_ticketReveal__UaHqX {
  0%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.TicketPage_ticketSection__auOsS {
  border-radius: 10px;
  width: 80%;
  padding: 1rem;
  /* margin: 1rem auto; */
  width: 234px;
  /* box-shadow: 0 6px 2px black; */
  border: dashed black 2px;
  background-color: #f7e6b7;
  position: relative;
}
.TicketPage_ticketSection__auOsS * {
  margin: 0;
  font-weight: normal;
}
.TicketPage_dateTime__o4LXn {
  display: flex;
  justify-content: space-between;
}
.TicketPage_ticketSection__auOsS ul {
  padding: 0;
  list-style-type: none;
  margin: 1rem 0;
}
.TicketPage_ticketSection__auOsS ul li {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.TicketPage_separator__2GJFA hr {
  border: dashed black 1.5px;
  width: 100%;
  height: 0;
}
.TicketPage_separator__2GJFA {
  position: relative;
}
.TicketPage_separator__2GJFA::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: -1rem;
  transform: translate(-50%, -50%);
  border: dashed black 2px;
}
.TicketPage_separator__2GJFA::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  right: -2.25rem;
  transform: translate(-50%, -50%);
  border: dashed black 2px;
}
.TicketPage_ticketSection__auOsS .TicketPage_info__aTr46 p {
  font-size: 0.6rem;
}
.TicketPage_ticketSection__auOsS .TicketPage_info__aTr46 {
  width: 100%;
}
.TicketPage_ticketSection__auOsS .TicketPage_info__aTr46 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}
.TicketPage_borderCircle__1v7rU {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
.TicketPage_borderCircle__1v7rU:nth-child(1) {
  top: -0.5rem;
  left: -0.5rem;
  border: dashed black 2px;
}
.TicketPage_borderCircle__1v7rU:nth-child(2) {
  top: -0.5rem;
  right: -0.5rem;
  border: dashed black 2px;
}
.TicketPage_borderCircle__1v7rU:nth-child(3) {
  bottom: -0.5rem;
  left: -0.5rem;
  border: dashed black 2px;
}
.TicketPage_borderCircle__1v7rU:nth-child(4) {
  bottom: -0.5rem;
  right: -0.5rem;
  border: dashed black 2px;
}
.TicketPage_status__B7hpx {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.TicketPage_status__B7hpx .TicketPage_statusCircle__nlGO2 {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  animation: TicketPage_pulse__Xw70u 1.5s ease-in-out infinite;
}
@keyframes TicketPage_pulse__Xw70u {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.TicketPage_header__gAmsD {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.TicketPage_header__gAmsD svg {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.TicketPage_header__gAmsD svg:active {
  opacity: 0.5;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../usr/local/lib/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../../../../usr/local/lib/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/loader.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loader_newtons_cradle__IJlKm {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  width: var(--uib-size);
  height: var(--uib-size);
}

.loader_newtons_cradle__dot__I3Oya {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.loader_newtons_cradle__dot__I3Oya::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.loader_newtons_cradle__dot__I3Oya:first-child {
  animation: loader_swing__uEZ_z var(--uib-speed) linear infinite;
}

.loader_newtons_cradle__dot__I3Oya:last-child {
  animation: loader_swing2__An0mN var(--uib-speed) linear infinite;
}

@keyframes loader_swing__uEZ_z {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes loader_swing2__An0mN {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

