@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');
body{
    margin: 0;
    padding: 0;
    user-select: none;
}
:root{
    --font:"Iansui", cursive
}
.wrapper{
    background:linear-gradient(0deg,orange, yellow, lightyellow, white, rgba(255, 255, 255, 0));
    min-height: 100vh;
}