.ticketSection img{
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}
.ticketSectionContainer{
    overflow: hidden;
    width: fit-content;
    margin: 1rem auto;
    width: 270px;
}
.ticketSection{
    border-radius: 10px;
    width: 80%;
    padding: 1rem;
    /* margin: 1rem auto; */
    width: 234px;
    /* box-shadow: 0 6px 2px black; */
    border: dashed black 2px;
    background-color: #F7E6B7;
    position: relative;
}
.ticketSection *{
    margin: 0;
    font-weight: normal;
}
.dateTime{
    display: flex;
    justify-content: space-between;
}
.ticketSection ul{
    padding: 0;
    list-style-type: none;
    margin: 1rem 0;
}
.ticketSection ul li{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}
.separator hr{
    border: dashed black 1.5px;
    width: 100%;
    height: 0;
}
.separator{
    position: relative;
}
.separator::before{
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: -1rem;
    transform: translate(-50%,-50%);
    border: dashed black 2px;
}
.separator::after{
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    right: -2.25rem;
    transform: translate(-50%,-50%);
    border: dashed black 2px;
}
.ticketSection .info p{
    font-size: 0.6rem;
}
.ticketSection .info{
    width: 100%;
}
.ticketSection .info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-top:1rem;
}
.borderCircle{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
.borderCircle:nth-child(1){
    top: -0.5rem;
    left: -0.5rem;
    border: dashed black 2px;
}
.borderCircle:nth-child(2){
    top: -0.5rem;
    right: -0.5rem;
    border: dashed black 2px;
}
.borderCircle:nth-child(3){
    bottom: -0.5rem;
    left: -0.5rem;
    border: dashed black 2px;
}
.borderCircle:nth-child(4){
    bottom: -0.5rem;
    right: -0.5rem;
    border: dashed black 2px;
}