.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  border-radius: 8px;
}

.title {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.scannerBox {
  border: 2px dashed grey;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 280px;
  margin: 1rem auto;
  overflow: hidden;
  background: url("/images/qr.png");
  background-origin: border-box;
  background-position: center;
  background-size: 240px 240px;
  background-repeat: no-repeat;
}

.infoText {
  font-size: 14px;
  color: #666;
  margin: 1.5rem 0;
}

.inputField {
  width: 80%;
  padding: 8px;
  border: 2px dashed grey;
  border-radius: 4px;
  font-size: 14px;
}

.resultText {
  font-size: 0.9rem;
}
.btn {
  padding: 0.5rem 1.2rem;
  background-color: black;
  box-shadow: 4px 4px 5px rgb(85, 85, 85);
  border-radius: 60px;
  color: white;
  font-size: 1rem;
  border: none;
  transition: all 0.2s ease-in-out;
}
.btn:active {
  box-shadow: 2px 2px 2px rgb(85, 85, 85);
  transform: scale(0.98);
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container form input:focus {
  border: solid black 2px;
  outline: none;
}
.result {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 0 0.5rem;
}
.result * {
  margin: 0;
  font-weight: bold;
}
.container header {
  position: relative;
}
.container header .hamburger {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.container header ul {
  outline: none;
  position: absolute;
  right: 1rem;
  top: 2.8rem;
  display: flex;
  gap: 0.8rem;
  min-width: 40vw;
  cursor: pointer;
  list-style-type: none;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0.7rem;
  animation: dropdownReveal 0.3s ease-in-out;
  box-shadow: 5px 5px 1px black;
  margin: 0;
  max-height: 50vh;
  overflow: scroll;
  z-index: 1000;
}
@keyframes dropdownReveal {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container header ul li {
  border-radius: 5px;
}
.container header ul li button {
  padding: 0.5rem;
  font-family: var(--font);
  font-weight: normal;
  border: darkgrey dashed 1px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.15s ease-in-out;
  animation: dropdownButtonReveal 0.4s ease-in-out;
}
@keyframes dropdownButtonReveal {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container header ul li:not(:last-child) button:active {
  background-color: black;
  color: whitesmoke;
}
.container header ul li:last-child button:active {
  background-color: rgb(209, 0, 0);
  color: whitesmoke;
}
.hamburger svg {
  transition: all 0.2s ease-in-out;
}
.hamburger svg:active {
  opacity: 0.5;
  transform: scale(0.98);
}
